* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
}

:root {
    --bg-lightblue: #F0F7FD;
    --text-blue: #3368C6;
    --text-dark-blue: #031B4E;
}

.box {
    height: max-content;
}

h3 {
    font-size: 12px;
}
a {
    text-decoration: none;
    color: var(--text-dark-blue);
    transition: 0.2s;
    &:hover{
        color: var(--text-blue);
        
    }
}

ul {
    list-style-type: none;
}

h2 {
    font-size: 48px;
    font-weight: normal;
}

h4 {
    font-size: 26px;
    font-weight: 500;
}
h5{
    font-size: 32px;
    font-weight: 500;
}
p {
    font-size: 16px;
    color: grey;
}

input,
textarea {
    outline: none;
}

textarea {
    resize: none;
}

.column {
    display: flex;
    flex-direction: column;
}

.column-2-3 {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.column-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.column-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.row {
    display: flex;
    flex-direction: row;
}

.w500 {
    width: 500px;
}

.section-title {
    padding: 8px 15px;
    background-color: white;
    color: var(--text-blue);
    border-radius: 50px;
}

.highlight{
    color: var(--text-blue);
    font-weight: bold;
}
/*******************************/
.container {
    width: 100%;
    padding: 5%;
    background-color: var(--bg-lightblue);

    .title-wrapper {
        align-items: center;
        text-align: center;
        gap: 15px;
        margin-bottom: 15px;
    }

    .content-wrapper {
        .content-item {
            align-items: center;
            text-align: center;
            gap: 10px;
            padding: 10%;
        }
    }
}

button {
    background-color: var(--text-blue);
    color: white;
    padding: 25px 30px;
    border: none;
    border-radius: 50px;

    i {
        margin-left: 5px;
    }
}

.contact-us {
    .container {
        padding: 0 1% 0 0;
    }

    .section-wrapper {
        .contact-bg {
            width: 100%;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .contact-form-wrapper {
            background-color: white;
            border-radius: 0 30px 30px 0;
            padding: 50px 30px 50px 30px;

            .title-wrapper {
                align-items: flex-start;
                text-align: start;
                margin-bottom: 50px;

                .section-title {
                    background-color: var(--bg-lightblue);
                }
            }

            .contact-form {
                gap: 20px;

                input,
                textarea {
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid grey;
                    padding: 10px;
                }

                .contact-info {
                    gap: 20px;

                }
            }
        }
    }
}

footer {
    .footer-container {
        padding: 50px 30px;
        .footer-wrapper{
            gap: 50px;
        }
        .footer-col1 {
            gap: 30px;
            .logo {
                width: 150px;
                img {
                    width: 100%;
                    object-fit: contain;
                }
            }
            .social-icon{
                ul{
                    display: flex;
                    gap: 10px;
                    a{
                        border: 1px solid black;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        transition: 0.2s;
                        &:hover{
                            background-color: black;
                            color: white;
                            
                        }
                    }
                }
            }
        }
        .footer-col2{
            gap: 30px;
            .infomation{
                gap: 30px 0;
                .info-item{
                    gap: 20px;
                    ul{
                        gap: 10px;
                    }
                }
            }
            .sub-footer{
                padding-top: 30px;
                border-top: 1px solid grey;
                justify-content: space-between;
                font-size: 12px !important;
                p{
                    font-size: 12px !important;
                }
                div{
                    gap: 10px;
                }
            }
        }
    }
}